
#content {
  margin: 10px auto;
  width: 300px;
  padding: 0 7px;
}

.flag {
  margin: 0 12px;
}

.score {
  text-align: center;
}

.table {
  width: 100%
}

.table > tbody > tr > td {
  vertical-align: middle;
}

table.games > tbody > tr > td {
  color: #999;
  font-weight: bold;
}

.bet-game td {
  font-weight: normal;
  text-align: center;
}

.bet-champions {
  font-size: 1.5em;
}

input.score {
  text-align: center;
  font-size: 2em;
  width: 80px;
}

tr.date {
  color: #999;
  text-align: center;
}

.table > tbody > tr.date > td {
  border: none;
  padding-top: 0;
  font-weight: normal;
}

.table-noborder > tbody > tr > td {
  border: none;
}

.btn-primary {
  background-color: #3ea909;
  border-color: #2C7D00;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #2C7D00;
  border-color: #1F5800;
}

.btn-blue {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  background-image: none;
}
