
#content {
  margin: 0 auto;
  width: 300px;
  padding-bottom: 15px;
}

.flag {
  margin: 0 12px;
}

.score {
  text-align: center;
}

.table {
  width: 100%
}

.table > tbody > tr > td {
  color: #999;
  font-weight: bold;
  vertical-align: middle;
}

.bet-game td {
  font-weight: normal;
  text-align: center;
}

.bet-champions {
  font-size: 1.5em;
}

input.score {
  text-align: center;
  font-size: 2em;
  width: 80px;
}

tr.date {
  color: #999;
  text-align: center;
}

.table > tbody > tr.date > td {
  border: none;
  padding-top: 0;
  font-weight: normal;
}

.table-noborder > tbody > tr > td {
  border: none;
}

