html, body
{
  padding: 0;
  margin: 0;
}

body {
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, Verdana;
  font-size: 14px;
  line-height: 22px;
  color: #333;
  position: relative;
  -webkit-text-size-adjust: none;
}
body *
{
  text-shadow: none;
}
#page nav
{
  display: none;
}

#header,
.header,
#footer
{
  background: #2C7D00;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 50px;
}

#header a,
.header a
{
  background: center center no-repeat transparent;
  background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}

html.mm-opening .mm-page,
html.mm-opening #mm-blocker,
html.mm-opening .mm-fixed-top,
html.mm-opening .mm-fixed-bottom {
  left: 65%;
}

.mm-menu {
  width: 65%;
}

.mm-ismenu {
  color: #e0e0e0;
  background-color: #204D07;
}

.mm-list {
  font-size: 1.1em;
}

