{% extends "base.html" %}

{% set title = 'Palpitão do Artilheiro' %}

{% macro combo(name, label, selected=None) %}
<div class="form-group">
  <label for="{{name}}">{{label}}</label>
  <select name="{{name}}" class="select-scorer form-control">
    {% for scorer in scorers %}
    <option value="{{scorer.id}}" {{'selected=selected' if selected == scorer.id }}>{{scorer.name}} ({{scorer.team.alias}})</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}

{% block content %}
<h2>Quem será o artilheiro da Copa do Mundo 2014?</h2>
<form id="bet-scorer" action="{{url_for('.bet_scorer')}}" method="post">
{{combo('scorer1', 'Palpite 1', bet.scorer1_id)}}
{{combo('scorer2', 'Palpite 2', bet.scorer2_id)}}
<button id="btn-add" type="button" class="btn btn-default btn-lg btn-block">Novo</button>
<button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
</form>
<form id="add-scorer" style="display:none;">
  <div class="form-group">
    <input name="name" type="text" value="" placeholder="Digite o nome do artilheiro" class="form-control" />
  </div>
  <div class="form-group">
    <select name="team" class="form-control">
    {% for team in teams %}
    <option value="{{team.id}}" data-alias="{{team.alias}}">{{team.name}} ({{team.alias}})</option>
    {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
  <button id="btn-back" type="button" class="btn btn-default btn-lg btn-block">Voltar</button>
</form>
{% endblock %}

{% block js %}
<script>
$(function(){
  $('.select-scorer').on('change', function(){
    var $other = $(this);
    $('.select-scorer').each(function(){
      if ($(this).attr('name') != $other.attr('name')) {
        $(this).find('option').removeAttr('disabled');
        $(this).find('option[value='+$other.val()+']').attr('disabled', 'disabled');
        $other.find('option').removeAttr('disabled');
        $other.find('option[value='+$(this).val()+']').attr('disabled', 'disabled');
      }
    });
  });
  if ($('.select-scorer').eq(0).val() == $('.select-scorer').eq(1).val()) {
    var val = $('.select-scorer').eq(1).find('option:selected').next().val();
    $('.select-scorer').eq(1).val(val).change();
    // .attr('selected', 'selected');
  }

  $('#btn-add').on('click', function(){
    $("#bet-scorer").hide();
    $("#add-scorer").show();
  });
  $('#btn-back').on('click', function(){
    $("#add-scorer").hide();
    $("#bet-scorer").show();
  });
  $("#add-scorer").on('submit', function(){
    var $name = $(this).find('input[name=name]');
    var $team = $(this).find('select[name=team] option:selected');
    if (!$name.val()) {
      // alert("Digite o nome do jogador");
      $name.closest('div').addClass("has-error");
      return false;
    }
    $.ajax({
      type: "POST",
      url: "{{url_for('.add_scorer')}}",
      data: { name: $name.val(), team: $team.val() }
    }).done(function( data ) {
      if (data.success) {
        var text = $name.val() + " ("+ $team.data("alias") +")";
        var option = $('<OPTION>').val(data.scorer_id).text(text);
        $('#bet-scorer select').append(option);
        $('#bet-scorer select[name=scorer2]').val(data.scorer_id);
        $("#add-scorer").hide();
        $("#bet-scorer").show();
        // cleanup
        $name.val('');
        $team.closest('select').val($team.closest('select').find("option:first").val());
        $name.closest('div').removeClass("has-error");
      }
    });
    return false;
  });
});
</script>
{% endblock %}
