{% extends "base.html" %}

{% set title = "Como o bolão funciona"%}

{% block content %}
<h3>O que é e como nasceu o Bolão Riachao.com da Copa?</h3>
<p>O Bolão RIACHAO.COM começou na Copa do Mundo de 2006, na Alemanha. Na ocasião, 25 pessoas participaram, número que foi superado pelos 90 que participaram da edição seguinte, na Copa de 2010, na África do Sul. Nesse ano de 2014, a ideia foi tornar as apostas ainda mais rápidas, atualizando o sistema com mecanismos que permitem acesso por smartphones. Além disso, mudamos os horários de encerramento das apostas, que agora passa a ser de uma hora antes de cada jogo. Com isso, a brincadeira ganhou mais dinamismo, praticidade e agilidade.</p>

<h3>Como posso participar?</h3>
<p>O Bolão nasceu de uma brincadeira entre amigos, portanto, a participação só será possível mediante convite ou apresentação por parte de algum dos participantes. Com a entrada aprovada, basta realizar o cadastro em bolao.riachao.com e seguir as instruções.</p>

<h3>Posso mudar a senha?</h3>
<p>Sim, o usuário pode recuperar sua senha na opção "Alterar minha senha".</p>

<h3>Como somo os meus pontos?</h3>

<h4>Palpite do jogo</h4>
<p>Os pontos do Bolão são distribuídos de diferentes modos, porém de maneira simples. Você pode somar pontos a cada jogo, bastando estudar bem seus palpites, arriscar um resultado e conferir seu desempenho. Todos os 64 jogos da Copa valerão pontos, e as apostas para cada jogo devem ser feitas manualmente, jogo a jogo.</p>

<h4>Palpitão</h4>
<p>Além dos palpites para cada jogo, cada participante responderá a duas perguntas sobre o torneio. A Pergunta nº 1 consiste em escolher dois jogadores como candidatos a artilheiro da Copa. São 20 pontos em caso de acerto, 40 caso os dois escolhidos terminem empatados na artilharia da competição. A Pergunta nº 2 é sobre o ranking final da Copa. Quais seleções você acredita que estarão entre as quatro primeiras e em qual ordem. Cada acerto vale 5 pontos, que será dobrado (10) caso a seleção termine na posição exata do palpite. Veja o exemplo abaixo:</p>
<p>Um apostador chutou em 1º - TIME A, 2º TIME B, 3º - TIME C e 4º - TIME D.<br />
Resultado real 1º - TIME F (0 pontos).<br />
Resultado real 2º - TIME D (5 pontos).<br />
Resultado real 3º - TIME C (10 pontos).<br />
Resultado real 4º - TIME A (5 pontos).<br />
<br />
Total 20 pontos
</p>

<h3>Quando poderei fazer meus palpites?</h3>
<p>Os palpites podem ser feitos até uma hora antes do início da partida. Durante a primeira fase, com os grupos e os jogos já definidos, é aconselhável que o participante aposte em todos os jogos com antecedência, alterando as apostas no decorrer da competição, evitando, assim, possíveis esquecimentos.<br />
As apostas referentes as fases seguintes (oitavas, quartas, semi, disputa de 3º e 4º lugar e final) serão abertas conforme as definições de cada chave e fase.</p>

<h3>E se ocorrer prorrogação?</h3>
<p>Para esses casos, só serão aceitos os resultados do tempo normal de jogo. Prorrogações e disputas por pênaltis não valem para efeito de aposta de jogo. Apenas, claro, para as definições do Palpitão, já que um jogador poderá marcar gols na prorrogação (contando para artilharia) e algumas classificações da fase mata-mata podem ser decididas no tempo extra ou nos pênaltis.</p>

<h3>Como funciona o Ranking?</h3>
<p>O Ranking será atualizado diariamente e automaticamente pelo sistema, tendo como base as respostas fornecidas por TODOS os participantes, medindo o desempenho individual com relação aos demais jogadores. A classificação será organizada em ordem decrescente.<br />
Os pontos relativos ao Palpitão só serão acrescentados ao final do torneio, quando estarão definidas classificação (campeão, vice, 3º e 4º lugar) e artilharia.</p>

<h3>As apostas serão transparentes?</h3>
<p>Sim, todos os participantes terão plena visualização das apostas dadas pelos demais assim que forem encerrados os respectivos prazos de aposta, conforme Regulamento.</p>

<h3>Prêmios</h3>
<p>Os prêmios serão distribuídos de acordo com a posição no Ranking, como previsto no Regulamento. A premiação será inteiramente proporcional ao valor total arrecadado. No caso, nº de participantes x R$ 20,00 (vinte reais) – que é o valor da inscrição. Com base no valor total, o percentual para cada premiado será o seguinte</p>

<h4>Premiação:</h4>
<ul class="list-unstyled">
  <li>1º (primeiro): 50% do valor</li>
  <li>2º (segundo): 20% do valor</li>
  <li>3º (terceiro): 10% do valor</li>
  <li>4º (quarto): 5% do valor</li>
  <li>5º (quinto): 4% do valor</li>
  <li>6º (sexto): 3% do valor</li>
  <li>7º (sétimo): 2% do valor</li>
  <li>8º (oitavo): 2% do valor</li>
  <li>9º (nono): 1% do valor</li>
  <li>10º (décimo): 1% do valor</li>
  <li>11º (décimo primeiro): 1% do valor</li>
  <li>12º (décimo segundo): 1% do valor</li>
</ul>
{% endblock %}
