{% extends 'base.html' %}

{% set title = 'Jogos' %}

{% block content %}

{% for day, games in games_by_day.iteritems() %}
<h4>{{day.strftime("%A, %d de %B de %Y").decode('utf-8')}}</h4>
<table class="table games">
{% for game in games -%}
  <tr>
    <td class="text-right">{{game.team1.alias}}<img class="flag" src="{{url_for('static', filename='images/flags/%s.png'%game.team1.alias)}}" width="30" height="30" alt="{{game.team1}}" /></td>
    <td class="score">{{ '%d x %d' % (game.score_team1, game.score_team2) if game.score_team1 is number else 'x'}}<br />
    {% if game.id in bets -%}
    {% set bet = bets[game.id] -%}
    <small><a href="{{url_for('.bet_game_view', game_id=game.id)}}">{{bet.score_team1}} x {{bet.score_team2}}</a></small>
    {%- else %}
    <small><a href="{{url_for('.bet_game_view', game_id=game.id)}}">apostar</a></small>
    {%- endif %}
    </td>
    <td><img class="flag" src="{{url_for('static', filename='images/flags/%s.png'%game.team2.alias)}}" width="30" height="30" alt="{{game.team2}}" />{{game.team2.alias}}</td>
  </tr>
  <tr class="date">
    <td colspan="3"><small>{{'Grupo %s' % game.group if game.group}} - {{game.time.strftime('%Hh%M').decode('utf-8')}} {{game.place}}</small></td>
  </tr>
{% endfor %}
</table>
{% endfor %}

{% endblock %}
