{% extends "base.html" %}

{% set title = "Apostas de %s" % profile.name %}

{% block css %}
<style>
.table {
  margin: 10px 0 3px 0;
}
.table.scorer .flag {
  margin: 0 6px 0 0;
}
.profile-score {
  color: #999;
  font-size: 1.5em;
}
.bet_time {
  text-align: center;
  font-size: 10px;
  color: #999;
}
tbody > tr.bet_time > td {
  border-top: none;
  padding-top: 0;
}
</style>
{% endblock %}

{% block content %}

<h1>{{profile.pos}}º {{profile.name}}</h1>
<p class="profile-score">{{profile.score_games + (profile.bet_champions.score or 0) + (profile.bet_scorer.score or 0)}} pontos</p>

<table class="table">
<thead>
  <tr>
    <th>Critérios de desempate</th>
    <th width=50>&nbsp;</th>
  </tr>
</thead>
  <tr>
    <td>Placares exatos</td>
    <td>{{profile.crit_exact}}</td>
  </tr>
  <tr>
    <td>Vitórias e/ou empates</td>
    <td>{{profile.crit_game_result}}</td>
  </tr>
  <tr>
    <td>Gols do vencedor</td>
    <td>{{profile.crit_win_goals}}</td>
  </tr>
  <tr>
    <td>Gols do perdedor</td>
    <td>{{profile.crit_lose_goals}}</td>
  </tr>
</table>

{% include "profile_champions.html" %}
{% include "profile_scorer.html" %}

{% if profile.games %}
  <table class="table">
  <thead>
  <tr>
    <th colspan=3>Jogos</th>
    <th width=50>pts</th>
  </tr>
  </thead>
  {% for bet in profile.games|sort(attribute='game.time') -%}
    {% set game = bet.game %}
    <tr>
      <td class="text-right"><img class="flag" src="{{url_for('static', filename='images/flags/%s.png'%game.team1.alias)}}" width="30" height="30" alt="{{game.team1}}" /></td>
      <td class="score">{{ '%d x %d' % (bet.score_team1, bet.score_team2)}}<br />
      </td>
      <td><img class="flag" src="{{url_for('static', filename='images/flags/%s.png'%game.team2.alias)}}" width="30" height="30" alt="{{game.team2}}" /></td>
      <td>{{bet.score}}</td>
    </tr>
    <tr class="bet_time">
      {% set bet_time = bet.updated_at or bet.created_at %}
      <td colspan=4>Aposta feita às {{bet_time.strftime('%Hh%M de %d/%m/%Y').decode('utf-8')}}</td>
    </tr>
  {% endfor %}
  <tr class="total">
    <td colspan=3>Total (aproveitamento {{((100*profile.score_games)/(18*num_games))|round(2)}}%)</td>
    <td>{{profile.score_games}}</td>
  </tr>
  </table>
  {% if profile.id == current_user.id %}
  <a href="{{url_for('.games')}}" class="btn btn-default btn-xs btn-block">Editar</a>
  {% endif %}
{% elif profile.id == current_user.id %}
<a href="{{url_for('.games')}}" class="btn btn-default btn-block">Iniciar apostas nos jogos</a>
{% else %}
<p>Nenhuma aposta de jogo foi feita.</p>
{%endif %}

{% endblock %}
