
{% macro row_champion(team, position) %}
<tr>
  <td>
  <strong>{{position}}&ordm;</strong>
{% if team %}
<img class="flag" src="{{url_for('static', filename='images/flags/%s.png'%team.alias)}}" width="30" height="30" alt="{{team.name}}" />{{team.name}}
{% else %}
&nbsp;&nbsp;<small>Não escolhido</small>
{% endif %}
  </td>
  {% if team.position %}
  <td>{{10 if team.position == position else 5}}</td>
  {% else %}
  <td>0</td>
  {% endif %}
</tr>
{% endmacro %}

{% if profile.id == current_user.id or now() > config.BOLAO_BET_CHAMPIONS_LIMIT %}
  {% if profile.bet_champions %}
    {% set bet = profile.bet_champions %}
    <table class="table">
    <thead>
      <th>Ranking da Copa</th>
      <th width=50>pts</th>
    </thead>
      {{row_champion(bet.first, 1)}}
      {{row_champion(bet.second, 2)}}
      {{row_champion(bet.third, 3)}}
      {{row_champion(bet.fourth, 4)}}
       <tr class="total">
        <td>Total ({{((100*bet.score)/(40))|round(2)}}%)</td>
        <td>{{bet.score}}</td>
      </tr>
    </table>
    {% if profile.id == current_user.id and now() < config.BOLAO_BET_CHAMPIONS_LIMIT %}
      <a href="{{url_for('.bet_champions', edit='edit')}}" class="btn btn-default btn-xs btn-block">Editar</a>
    {% endif %}
  {% elif profile.id == current_user.id and now() < config.BOLAO_BET_CHAMPIONS_LIMIT %}
  <a href="{{url_for('.bet_champions')}}" class="btn btn-default btn-block">Palpitar os primeiros colocados</a>
  {% else %}
  <p>Nenhuma seleção foi escolhida.</p>
  {%endif %}
{% endif %}
